

//ส่วนหัว
.top-section{
  background-color:#ffffff;
  min-height: 180px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow:0px 5px 15px 5px #727171;
  ion-icon{
    
    color: #fdb307;
    width: 100px;
    height: 150px;
    position: absolute;
    left: 250px;
    
  }
  
    .title{    
      color: #3d3d3d;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 18px;
    }
  
}

//ส่วนสถานะ
.status-section{
  height: 140px;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 10px 10px 10px 10px;
  color: #3d3d3d;
  box-shadow:0px 0px 15px 5px #727171;
  margin-bottom: 15px;


  
  .monitor-battery{
    ion-col{
      height: 60px;
      border-radius: 10px 10px 10px 10px;
      margin-right: 10px;
    }
    .status-battery1{
     color: rgb(255, 255, 255);
     display: flex;
     justify-content: center;
      align-items: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .status-battery2{
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
       align-items: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     }

     .status-battery3{
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
       align-items: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     }

  }

}

.statustwo-section{
  height: 550px;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 10px 10px 10px 10px;
  color: #3d3d3d;
  box-shadow:0px 0px 15px 5px #727171;
  margin-bottom: 15px;

  ion-col{
    border-radius: 10px 10px 10px 10px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
  }

  .status-water{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
     align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    p{
      color: #000;
    }
  }
}


//ส่วนแสดงความชื้น
.body-section{
  background-color: #ffffff;
  color: #3d3d3d;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 560px;
  box-shadow:0px 0px 15px 5px #727171;
  border-radius: 10px 10px 10px 10px;
  

 .monitor-first{
  height: 160px;
  width: 350px;
  align-items: center;
 }
  .monitor-two{
    height: 160px;
    width: 350px;
    align-items: center;
  }
  .monitor-tree{
    height: 160px;
    width: 350px;
    align-items: center;
  }

  .box-one{
    width: 130px;
    height: 130px;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    box-shadow:0px 0px 10px 5px #98c8ff;
    color: rgb(156, 156, 156);
    
    .circlr{
      width: 80px;
      height: 70px;
      background-color: rgb(192, 219, 255);
      border-radius: 40px 20px 20px 20px;
      margin-top: 1px;
      margin-left: 25px;
      text-align: center;
      display: inline-block;  
      color: rgb(34, 34, 34);

      p{
        font-family:serif;
        margin-top: 25px;
        font-size: 20px;
      }
    }
  }

  .box-two{
    width: 130px;
    height: 130px;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    box-shadow:0px 0px 10px 5px #98c8ff;
    color: rgb(156, 156, 156);
    
    .circlr{
      width: 80px;
      height: 70px;
      background-color: rgb(192, 219, 255);
      border-radius: 20px 40px 20px 20px;
      margin-top: 1px;
      margin-left: 25px;
      text-align: center;
      display: inline-block;  
      color: rgb(34, 34, 34);

      p{
        font-family:serif;
        margin-top: 25px;
        font-size: 20px;
      }
    }

  }

  .box-tree{
    width: 130px;
    height: 130px;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    box-shadow:0px 0px 10px 5px #98c8ff;
    color: rgb(156, 156, 156);

    .circlr{
      width: 80px;
      height: 70px;
      background-color: rgb(192, 219, 255);
      border-radius: 20px 20px 20px 20px;
      margin-top: 1px;
      margin-left: 25px;
      text-align: center;
      display: inline-block;  
      color: rgb(34, 34, 34);

      p{
        font-family:serif;
        margin-top: 25px;
        font-size: 20px;
      }
    }
  }

  .box-foue{
    width: 130px;
    height: 130px;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    box-shadow:0px 0px 10px 5px #98c8ff;
    color: rgb(156, 156, 156);

    .circlr{
      width: 80px;
      height: 70px;
      background-color: rgb(192, 219, 255);
      border-radius: 20px 20px 20px 20px;
      margin-top: 1px;
      margin-left: 25px;
      text-align: center;
      display: inline-block;  
      color: rgb(34, 34, 34);

      p{
        font-family:serif;
        margin-top: 25px;
        font-size: 20px;
      }
    }
  }

  .box-five{
    width: 130px;
    height: 130px;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    box-shadow:0px 0px 10px 5px #98c8ff;
    color: rgb(156, 156, 156);

    .circlr{
      width: 80px;
      height: 70px;
      background-color: rgb(192, 219, 255);
      border-radius: 20px 20px 20px 40px;
      margin-top: 1px;
      margin-left: 25px;
      text-align: center;
      display: inline-block;  
      color: rgb(34, 34, 34);

      p{
        font-family:serif;
        margin-top: 25px;
        font-size: 20px;
      }
    }
  }

  .box-six{
    width: 130px;
    height: 130px;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    box-shadow:0px 0px 10px 5px #98c8ff;
    color: rgb(156, 156, 156);

    .circlr{
      width: 80px;
      height: 70px;
      background-color: rgb(192, 219, 255);
      border-radius: 20px 20px 40px 20px;
      margin-top: 1px;
      margin-left: 25px;
      text-align: center;
      display: inline-block;  
      color: rgb(34, 34, 34);

      p{
        font-family:serif;
        margin-top: 25px;
        font-size: 20px;
      }
    }
  }
}


