

<ion-content>

  <div class="one">
    <ion-grid>
      <ion-row>
        <ion-col style="height: 150px;">
          <ion-icon name="logo-android" style="color: rgb(102, 226, 0);"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="logo-ionic" style="color: rgb(49, 111, 255);"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="height: 150px;">
          <ion-icon name="logo-firebase" style="color: rgb(255, 207, 49);"></ion-icon>
        </ion-col>

        <ion-col>
          <ion-icon name="logo-stackoverflow" style="color: rgb(255, 176, 49);"></ion-icon>
        </ion-col>

      </ion-row>


      <ion-row>
        
        <ion-col style="height: 150px;">
          <ion-icon name="logo-npm" style="color: rgb(0, 0, 0);"></ion-icon>
        </ion-col>

        <ion-col>
          <ion-icon name="logo-github"style="color: rgb(0, 0, 0);"></ion-icon>
        </ion-col>
      </ion-row>   
    </ion-grid>  
  </div>
  <div class="title">
    <p>developer : Mr.chatchawan nomphutsa <br>60172110443-1 <br>hardware : Mr.chaitawat nomphutsa <br>60172110502-8</p>
   
  </div>


</ion-content>

